body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  margin: 0;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background: #e1e1e1;
  font-family: tahoma, arial;
}
.layout.ant-layout{
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
#root{min-height: 100vh;}
footer{
  margin-top:auto;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}
a, .link {
  color: #282b2f;
  text-decoration: none;
  font-size: 16px;
}
a:hover, .link:hover {
  color: #1976d2;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
}
* + h1, * + h2, * + h3,* + h4,* + h5,* + h6 {
  margin:0.67em 0 0 0;
}
p, ul, ol {
  margin: 0 0 15px 0;
}
* + p, * + ul, * + ol {
  margin-top: 15px;
}
ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
  margin: 0;
}
input,
textarea{
  font-size: 16px;
  width: 100%;
  padding: 5px;
  line-height: 18px;
  border-radius: 5px;
  border: 1px solid #828890;
  background-color: #ffffff;
  display: block;
  margin: 0 0 15px;
}
.header{
  background: #232323;
}
#root .ant-layout-header{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  margin-bottom: 20px;
}
.logo{
  flex-basis: 93px;
  flex-shrink: 0;
  align-self: center;
  height: 17px;
  opacity: 1;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}
.logo:hover{opacity: 0.6;}
.nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  line-height: 64px;
}
.nav .ant-menu-item, .nav .ant-menu-submenu-title{
  padding: 0;
}
.nav a{
  color:#6d6c6c;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav a:hover{
  background: #3a3a3a;
  color:#fff;
}
.nav.ant-menu.ant-menu-dark .ant-menu-item-selected,
.nav.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color: #3a3a3a ;
}
.hold-blue{
  background: #164da0;
}
.hold-blue .row-header{
  align-items: center;
}
.list-login{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 10px 0;
  list-style: none;
  margin: 0 10px 0 0;
  flex-basis: 50%;
}
.list-login li{
  padding: 0 16px;
  border-right: 1px solid #fff;
}
.list-login li:last-child{border-right: none;}
.list-login li a{
  text-decoration: none;
  color: #ffffff;
}
.hold-blue form{
  flex-basis: 50%;
  justify-content: flex-end;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.hold-blue .hold-input{
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 300px;
  margin: 5px 0 0 10px;
}
.hold-input input{
  padding: 5px 35px 5px 5px;
  margin: 0 0 5px;
}
.btn-search{
  height: 28px;
  width: 30px;
  position: absolute;
  right: 1px;
  top: 1px;
  border: none;
  background-color: #000;
  cursor: pointer;
}
main{
  padding: 0 50px;
}
.row-list-movies{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.hold-input{
  width: 100%;
  margin: 0 0 20px;
  display: flex;
}
.col-70{
  width: 70%;
}
.col-30{
  width: 30%;
}
.col-70 .ant-radio-wrapper{
  width: 16%;
  margin-bottom: 5px;
}
.ant-collapse{
  width: 100%;
  margin-bottom: 25px;
}
.row-list-movies .card-movie{
  width: 20%;
  margin: 0 0 20px;
  padding: 10px;
}
.row-list-movies .card-movie a{
  display: block;
  text-decoration: none;
}
.row-list-movies .card-movie a:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.row-list-movies .ant-card-cover{
  height: 350px;
}
.row-list-movies .ant-card-cover img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1{
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 30px;
}
.row{
  display: flex;
  margin: 0 -10px 20px;
  overflow: hidden;
}
.row .col-40{
  width: 40%;
  padding: 0 10px;
}
.row .col-60{
  width: 60%;
  padding: 0 10px;
}
.movie-img{
  margin: 0 0 15px;
}
.movie-img img{
  display: block;
  width: 100%;
  height: auto;
}
.list-movie{
  width: 100%;
  margin: 0 0 40px;
}
.list-movie dt{
  font-weight: bold;
  margin: 0 0 10px;
}
.list-movie dd{
  margin: 0 0 10px;
}
.btn-buy{
  width: 100%;
  display: block;
  padding: 0 10px;
  font-size: 18px;
  line-height: 40px;
  background: #1976d2;
  color:#fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.btn-buy:hover{
  background: #164da0;
}
#portal .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transform: translate(-50%, -50%);
}
footer.ant-layout-footer{
  background: #001529;
  color:#fff;
}
.ant-select-selection--single{width: 250px}
.box-shedules .ant-tabs-nav .ant-tabs-tab{
  padding: 12px 70px;
}
.box-shedules .ant-tabs-tabpane{
  display: flex;
  flex-wrap: wrap;
}
.box-shedules .col-20{
  width: 20%;
  padding: 0 15px;
  margin: 0 0 25px;
}
.card-movie{
  width: 100%;
  overflow: hidden;
}
.card-movie .hold-img{
  width: 100%;
  height: 380px;
  overflow: hidden;
  background: #40a9ff;
  margin: 0 0 15px;
}
.card-movie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-movie  h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px;
}
.card-movie p{
  margin: 0 0 15px;
}
.ant-spin-spinning{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.modal-overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content{
  width: 50%;
  height: 250px;
  background: #fff;
}